.full {
    background-color: blanchedalmond;
    height: 100vh;
}

.form{
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding:20px 50px;
    margin-left:450px;
    margin-top: 35px;
    width:max-content;
    color: white;
}

label{
    font-weight: bold;
}

.forms{
    text-align: center;
}

#location label{
    margin-right: 50px;
}

#adr label{
    margin-right: 20px;
}

#requirement label{
    margin-right: 10px;
}

#requirement input{
    margin-left: 30px;
    height: 100px;
}

.forms div{
    margin-bottom: 20px;
}

.forms input{
    margin-left: 50px;
    width: 400px;
    border-radius: 10px;
    padding: 5px 10px;
}

#adr input{
    height: 100px;
}

#btn{
    text-align: center;
}

#btn button{
    margin: 5px 30px 20px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#btn button:hover{
    background-color:burlywood;
    color: black;
}
.form h2{
    text-align: center;
    margin-bottom: 20px;
}

.footer p{
    text-align: center;
    background-color: rgb(0, 107, 189);
    color: white;
    padding: 5px;
    margin-bottom: 0rem;
}


.navbar-brand{
    display: flex;
    align-items: center;
    
}
.navbar-brand h3{
    margin-left: 10px;
    padding-top: 10px;
    color: rgb(0, 107, 189);
}
.navbar-brand img{
    height: 60px;
}

.nav-item img{
    height: 20px;
    margin-left: 20px;
}

#Categories{
    margin-left: 20px;
    color: rgb(0, 107, 189);
}

#category a:hover{
    background-color: rgb(0, 107, 189);
    color: white;
}

#nav{
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
}